
.table-container {
    max-height: 400px; /* Altura máxima para el scroll */
    overflow-y: auto; /* Habilitar scroll vertical */
    border: 1px solid #dee2e6; /* Borde alrededor de la tabla */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    background: white; /* Fondo blanco */
}
.table th, .table td {
    vertical-align: middle; /* Alinear verticalmente el contenido */
}
.table thead th {
    position: sticky; /* Fijar el encabezado */
    top: 0; /* Posición en la parte superior */
    background-color: white; /* Fondo blanco para el encabezado */
    z-index: 10; /* Asegurarse de que esté por encima del contenido */
}
.chart-small {
    max-width: 400px; /* Ancho máximo */
    max-height: 200px; /* Altura máxima */
    width: 100%; /* Ancho responsivo */
    height: auto; /* Altura automática */
}
/* Fijar el sidebar */
#sidebar-wrapper {
    position: fixed; /* Fijar el sidebar */
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: auto; /* Habilitar scroll si el contenido del sidebar es largo */
    z-index: 1000; /* Asegurar que esté por encima del contenido */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para el sidebar */
}

/* Ajustar el contenido principal para que no se superponga con el sidebar */
#page-content-wrapper {
    margin-left: 250px; /* Ajustar este valor al ancho del sidebar */
    width: calc(100% - 250px); /* Restar el ancho del sidebar */
}
